body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
	background-color: white;
}

.background {
    background-image: url('stockguitar.png');
    background-size: cover;
    background-position: center;
    height: 36vh;
    display: flex;
    align-items: start; 
    justify-content: center; 
}

@media screen and (max-width: 1200px) {
	.background {
		background-image: none;
	}
}

.logo-container {
    width: auto; 
    position: relative; 
}

@media screen and (max-width: 1200px) {
	.logo-container {
		background-image: url('stockguitar.png');
		background-size: 100%;
	}
}

.logo {
	max-width: 100%;
    max-height: 35vh; 
    width: auto; 
}

.button-group {
    position: absolute;
    bottom: 0;
	margin-bottom: -0.5vh;
    right: 0.5vw; 
}

@media screen and (max-width: 600px) {
	.button-group {
		   right: 1%;
		   bottom: 0;
	}
}

.button {
	font-family: 'Avenir', sans-serif;
    font-weight: bold;
	color: white;
    font-size: 1.3em;
	padding: .8vh 1.2vw;
    margin: 2.6vh .7vw; 
    background: transparent; 
    border: none; 
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

@media screen and (max-width: 600px) {
    .button {
        font-size: .74em; 
		margin: 1vh .7vw; 
	
    }
}

.button:hover {
    background-color: white;
    color: Black;
}

.content-container {
	display: flex;
}

@media screen and (max-width: 600px) {
	.content-container {
	display: flex;
	flex-direction: column;
	}
}

.content-container2 {
	display: flex;
}

@media screen and (max-width: 600px) {
	.content-container2 {
	display: flex;
	flex-direction: column;
	}
}

.left-column {
	width: 57%;
	max-width:57%;
	text-align: center;
	border: red;
	border-style: hidden;
	padding: 5px;
	position: relative;
	font-size: 21px;
	min-height: 375px;
	overflow: hidden;
}

.left-column a {
	max-width: 15vw;
	width: 15vw;
	margin-right: 3vw;
}

.left-column p {
	text-align: left;
}

@media screen and (max-width: 600px) {
	.left-column img {
	max-width: 70vw;
	width: 70vw;
}
}

@media screen and (max-width: 600px) {
	.left-column {
		width: 96%;
		max-width: 96%;
		left: 1%;
	}
}

.header1 {
	margin-top: 3vh;
	margin-right: 4vw;
	margin-bottom: -1.5vh;
}

.right-column {
	width: 43%;
	max-width: 350px;
	text-align: center;
	border: red;
	border-style: hidden;
	padding: 15px;
	position: relative;
	margin-top: 25px;
	min-height: 375px;
}

@media screen and (max-width: 600px) {
	.right-column {
		width: 100%;
		max-width: 100%;
		padding: 0px;
		margin-top: 1vh;
	}
}

.left-column2 {
	width: 50%;
	max-width: 50%;
	text-align: center;
	border: red;
	border-style: hidden;
	padding: 15px;
	font-size: 21px;
	position: relative;
	min-height: 375px;
}

.left-column2 p {
	text-align: center;
}

@media screen and (max-width: 600px) {
	.left-column2 img {
	max-width: 70vw;
	width: 70vw;
}
}

@media screen and (max-width: 600px) {
	.left-column2 {
		width: 98%;
		max-width: 98%;
		padding: 0px;
		margin-top: 1vh;
		min-height: 0px;
	}
}

.header3 {
	margin-bottom: -0.5vh;
}

.right-column2 {
	width: 50%;
	max-width:50%;
	text-align: center;
	border: red;
	border-style: hidden;
	padding: 5px;
	position: relative;
	font-size: 21px;
	min-height: 375px;
	overflow: hidden;
}

.right-column2 p {
	text-align: center;
}

.right-column2 a {
	max-width: 15vw;
	width: 15vw;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.right-column2 img {
	max-width: 70vw;
	width: 70vw;
}
}

@media screen and (max-width: 600px) {
	.right-column2 {
		width: 98%;
		max-width: 98%;
		padding: 0px;
		margin-top: 1vh;
		min-height: 0px;
	}
}

.mapbutton {
	margin-top: 3.4vh;
}

@media screen and (max-width: 600px) {
	.mapbutton  {
	margin-bottom: 20vh;
}
}

.header2 {
	margin-top: 2.5vh;
}

.about1-left {
	width: 100%;
	max-width:100%;
	text-align: center;
	border: red;
	border-style: hidden;
	padding: 5px;
	position: relative;
	font-size: 18px;
}

.about1-left p {
	position: relative;
	text-align: left;
}

@media screen and (max-width: 600px) {
	.about1-left p {
		position: relative;
		max-width: 93%;
		width: 93%;
	}
}

.about1-left a {
	max-width: 15vw;
	width: 15vw;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.about1-left img {
	max-width: 70vw;
	width: 70vw;
}
}

@media screen and (max-width: 600px) {
	.homebutton {
	max-width: 60vw;
	width: 60vw;
	margin-bottom: 20vh;
}
}

.aboutheader {
	margin-bottom: -2vh;
	margin-top: 2vh;
	width: 35%;
	margin-left: 6vw;
}

@media screen and (max-width: 600px) {
	.aboutheader {
		position: relative;
		width: 75%
	}
}

.about1-right {
	width: 40%;
	max-width: 40%;
	float: right;
	padding: 5px;
}

@media screen and (max-width: 600px) {
	.about1-right {
		width: 94%;
		max-width: 94%;
		text-align: center;
		padding: 0px;
		margin-top: 1vh;
		float: none;
	}
}

.textblock1 {
	position: absolute;
}

@media screen and (max-width: 600px) {
	.textblock1 {
	position: relative;
	}
}

.textblock2 {
	position: absolute;
}

@media screen and (max-width: 600px) {
	.textblock2 {
	position: relative;
	}
}

@media screen and (max-width: 600px) {
	.textblock1 {
		width: 98%;
		max-width: 98%;
		left: 2.5%;
		
	}
}

@media screen and (max-width: 600px) {
	.textblock2 {
		width: 98%;
		max-width: 98%;
		left: 2.5%;
		
	}
}


@media screen and (max-width: 600px) {
	.about1-left {
		width: 98%;
		max-width: 98%;
		left: 2.5%;
	}
}

.footer {
    background-color: #333333; 
    color: white; 
    text-align: center; 
    width: 100%; 
	height: 18vh;
	bottom: -60vh;
	left: 0;
	position: absolute;
	font-style: italic;
}

@media screen and (max-width: 600px) {
.footer a[href^=tel] {
	color: white;
}
}

@media screen and (max-width: 600px) {
	.footer {
		bottom: 0;
		position: fixed;
	}
}


.footer p {
	text-align: center;
	margin: 6px;
	top: 1.5vh;
}

.footer img {
	max-width: 2.5%;
	margin-top: 0.5vh;
}

@media screen and (max-width: 600px) {
	.footer img {
		max-width: 10%;
		margin-top: 0.5vh;
}
