body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    background-image: url('Guitarback.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: start; 
    justify-content: center; 
}

.logo-container {
    width: auto; 
    position: relative; 
}

.logo {
	max-width: 100%;
    max-height: 30vh; 
    width: auto; 
}

.button-group {
    position: absolute;
    bottom: 0;
    right: 0.5vw; 
}

@media screen and (max-width: 600px) {
	.button-group {
		   right: 1%;
		   bottom: 0;
	}
}

.button {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.2em;
	padding: .8vh .8vw;
    margin: 2.6vh .7vw; 
    background: transparent; 
    border: none; 
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

@media screen and (max-width: 600px) {
    .button {
        font-size: .68em; 
		margin: 1vh .7vw; 
	
    }
}

.button:hover {
    background-color: white;
    color: Black;
}

.content-container {
	display: flex;
}

@media screen and (max-width: 600px) {
	.content-container {
	display: flex;
	flex-direction: column;
	}
}

.left-column {
	width: 50%;
	max-width:50%;
	text-align: center;
	border: red;
	border-style: hidden;
	padding: 15px;
	position: relative;
}

p {
	position: relative;
	text-align: left;
}

@media screen and (max-width: 600px) {
	p {
		position: relative;
		max-width: 96%;
	}
}

.textblock1 {
	position: absolute;
}

@media screen and (max-width: 600px) {
	.textblock1 {
	position: relative;
	}
}

@media screen and (max-width: 600px) {
	.left-column {
		width: 95%;
		max-width: 95%;
	}
}

.right-column {
	width: 50%;
	max-width: 50%;
	text-align: center;
	border: red;
	border-style: hidden;
	padding: 15px;
	box-sizing: border-box;
	position: relative;
}

@media screen and (max-width: 600px) {
	.right-column {
		width: 100%;
		max-width: 100%;
		padding: 0px;
	}
}

.picture {
	filter: drop-shadow(4px 4px 5px gray);
	width: 100%;
	max-width: 100%;
	height: auto;
	border-style: hidden;
	border-radius: 10px;
	margin-top: 20px;
	position: relative;
}

@media screen and (max-width: 600px) {
	.picture {
		border-radius: 0px;
		margin-top:0px;
	}
}

.calendly-container {
    margin-top: 20px;
    width: 100%;
    position: relative;
    justify-content: center;
}

